<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Creative Email Template</title>
    <style>
      body { font-family: "Arial", sans-serif; margin: 0; padding: 0;
      background-color: #fff; margin: 0 auto; max-width: 600px; } header {
      background-color: #8e44ad; margin-top: 20px; border-top-center-radius: 10px;
      border-top-center-radius: 10px; border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; color: #fff; padding: 20px; text-align:
      center; } main { padding: 20px; background-color: #fff; color: #333; } h1,
      h2 { color: white; /* Purple color */ } p { line-height: 1.6;
      margin-bottom: 20px; } .cta-button { display: inline-block; padding: 10px
      20px; background-color: #8e44ad; /* Purple color */ color: #fff;
      text-decoration: none; border-radius: 5px; } footer { background-color:
      #f9f9f9; padding: 10px; text-align: center; }
    </style>
  </head>
  <body>
    <header>
      <h1>Shopiverse</h1>
    </header>

    <main>
      <p>Hello {{name}},</p>
      <p>
        This is to notify you that your account role has been changed
      </p>
      <p>Please login for confirmation</p>
      <a href={{link}} class="cta-button">Login</a>
    </main>

    <footer>
      <p>
        If you have any questions, feel free to
        <a href="mailto:igudy@outlook.com">contact us</a>.
      </p>
      <p>&copy; 2023 Shopiverse. All rights reserved.</p>
    </footer>
  </body>
</html>